@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
:root{
    --primary_color: #480aac;
    --secondary-color: #2c2335;
    --trimary-color: rgb(49, 49, 49);      
}

html{
  background-image: url(https://wallpapercave.com/wp/wp2801544.jpg);
}

body{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://wallpapercave.com/wp/wp2801544.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;

}

.navbar{

    color: black;
    height: 70px;
    width: 100%;
    background: var(--primary_color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

  }
  
.navbar .flex{
    justify-content: space-between;
  }
  
.navbar ul{
    display: flex;
  }

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }

  a {
    color: beige;
    position: relative;
 
      top: 7px;
      right: 6px;
    padding-left: 2px; 
    padding-right: 50px;

  }

/* the main title */
#welc{
    color: white;
font-size: 850%;
padding-left: 3%;
padding-top: 20%;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
white-space: nowrap; /* Keeps the content on a single line */

letter-spacing: .1em; /* Adjust as needed */
}

center{
    color: white; 
   
}

img{
    width: 50px;
    
}

.text{
  color: white;
  font-size: medium;
}

.glow {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #000
}

.glow:active:after {
    background: transparent;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
a {
  color: white;
  position: relative;
    top:-6px;
    right: -6px;
  padding-left: 20px;
  padding-right: 10px;
  transition: all ;
  transition-duration: 1s;
}

a::after{
content: '';
display: block;
width: 0;
height: 2px;
background: #516395;
transition: width .3s;
}

a:hover::after{
width: 100%;
background-color: #516395;
transition: width .3s;
}

/* The second part */

.parttwo{
  background-image: linear-gradient(to top right, #F7971E, #FFD200);
  padding-top: -50px;
  
}

.writings h1{
  align-items: center;
  font-size: 90px;
  display: flex;
  padding-left: 60px;
  padding-bottom: 2%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.writings p{
  align-items: center;
  font-size: 50px;
  display: flex;
  padding-left: 60px;
  padding-bottom: 20%;
  color: white;
  font-family: 'Roboto', sans-serif;
}
/* the chat */
.partthree{
background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
padding-top: -50px;
background-size: cover;
background-repeat: no-repeat;
}

.partthree h1{
  align-items: center;
  font-size: 80px;
  display: flex;
  padding-left: 6%;
  padding-bottom: 2%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.partthree p{
  align-items: center;
  font-size: 50px;
  display: flex;
  padding-left: 60px;
  padding-bottom: 10%;
  color: white;
  font-family: 'Roboto', sans-serif;
}
/* last div */
.lastdiv{
  background-image: url(https://img.lovepik.com/element/40087/1421.png_860.png);
}

input.button-add {
  background-image: url(); /* 16px x 16px */
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  height: 30px;           /* make this the size of your image */
  padding-left: 30px;     /* make text start to the right of the image */
  vertical-align: middle; /* align the text vertically centered */
}