@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
/* Under construction yet  */
.form{
    display: flex ;
}

.form .flex{
    justify-content: space-between;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
